@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>

@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table class="table table-striped">
    <tr>
        <th>AÇIKLAMA</th>
        <th>TARİH</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Aciklama</td>
            <td>@x.TarihZaman</td>
        </tr>
    }
</table>

